In [1]:
from tkinter import *
from tkinter import ttk
import numpy as np
import pandas as pd
from scipy.stats import norm
from yahoofinancials import YahooFinancials
import plotly.express as px
import scipy.optimize as opt
import pandas_datareader.data as web
import datetime as date
import mplfinance as mpf
import yfinance as yf
from scipy.stats import norm
import matplotlib.pyplot as plt
import data as dt
import Funciones as f
from scipy.stats import norm
import scipy.stats as sta

Basic Materials

100%|██████████████████████████████████████████████████████████████████████████████████| 13/13 [00:04<00:00,  3.13it/s]

In [2]:
tickerr = dt.Tickets[:10]

In [3]:
#tickerr = ["AAPL", "FB", "SHOP", "C", "AMZN", "MSFT", "EPD", "KO", "TSLA","WMT"]
prices = web.DataReader(name = tickerr, data_source = "yahoo",
              start= "2022-01-01")["Adj Close"].dropna()

In [4]:
#pip install --upgrade yfinance

In [5]:
resultado=np.zeros(len(tickerr))
for i in range(len(tickerr)):
    datos=yf.download(tickerr[i], period='1d', interval='1m')
    price=datos.iloc[-1,3]
    resultado[i]=price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
test = prices
mausherramienta = test.iloc[-24:,:]

In [7]:
prices.iloc[-25,:] = resultado
resultado

array([ 67.98999786, 309.72000122,  72.66999817,  16.70000076,
       103.80999756, 244.91999817,  41.90999985,  74.51999664,
       242.91999817,  66.13999939])

In [8]:
#Analisis RSI 
# data = yf.download(tickers, period='1d', interval='1m')
data = prices.iloc[:-25,:]

RSII = pd.DataFrame()
for i in range(len(tickerr)):
    
    delta = data.iloc[:,i].diff(1)
    delta.dropna(inplace=True)

    positive = delta.copy()
    negative = delta.copy()

    positive[positive < 0 ]=0
    negative[negative > 0 ]=0
    days = 14
    avrg_gain = positive.rolling(window=days).mean()
    avrg_loss = abs(negative.rolling(window=days).mean())

    rltv_strength = avrg_gain/avrg_loss
    RSI = 100-(100/(1+rltv_strength))

    combined = pd.DataFrame()
    combined["Close"] =  data.iloc[:,i]
    combined["RSI"] = RSI
    RSII[i] = RSI

    
RSII  = pd.DataFrame(RSII)
RSII.columns = tickerr
RSI_HOY = RSII.iloc[len(RSII)-1,:]

In [9]:
RSI_HOY=pd.DataFrame(RSI_HOY)

In [10]:
ws  = Tk()
ws.title('RSI Analysis')
ws.geometry('500x500')
#ws['bg'] = '#AC99F2'
game_frame = Frame(ws)
game_frame.pack()
my_game = ttk.Treeview(game_frame)
my_game['columns'] = ('TICKER','STATUS','PRICE')

my_game.column("#0", width=0,  stretch=NO)
my_game.column("TICKER",anchor=CENTER, width=80)
my_game.column("STATUS",anchor=CENTER,width=80)
my_game.column("PRICE",anchor=CENTER,width=80)

my_game.heading("#0",text="",anchor=CENTER)
my_game.heading("TICKER",text="TICKER",anchor=CENTER)
my_game.heading("STATUS",text="STATUS",anchor=CENTER)
my_game.heading("PRICE",text="PRICE",anchor=CENTER)

for i in range(len(tickerr)-1):
    if(RSI_HOY.iloc[i,0]<30):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'BUY',np.round((resultado[i]),4)))
    if(RSI_HOY.iloc[i,0]>70):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'SELL',np.round((resultado[i]),4)))
    if((RSI_HOY.iloc[i,0]>=30) & (RSI_HOY.iloc[i,0]<=70)):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'HOLD',np.round((resultado[i]),4)))

my_game.pack()

import tkinter

Etiqueta = ttk.Label(ws,text='Select your stock')
Etiqueta.pack()

n = tkinter.StringVar(ws)
n.set(tickerr[0])

seleccion = tkinter.OptionMenu(ws,n,*tickerr)
seleccion.pack()

def Close():
    a = n.get()
    ws.destroy()

exit_button = tkinter.Button(ws, text="Choose", command= lambda :Close())
exit_button.pack(pady=20)

    
ws.mainloop()


activo = n.get()

In [11]:
np.zeros(len(activo))

array([0., 0., 0.])

In [12]:
resultado=np.zeros(len(activo))
datos=yf.download(activo, period='1d', interval='1m')
price=datos.iloc[-1,3]
st = price

[*********************100%***********************]  1 of 1 completed

In [13]:
def griegas(r,sigma,st,k,T=1/12,t=0):
    d_c = f.delta_call(St,k,T,t,r,sigma)
    d_p = f.delta_put(St,k,T,t,r,sigma)
    v   = f.vega(St,k,T,t,r,sigma)
    t_c = f.theta_call(St,k,T,t,r,sigma)
    t_p = f.theta_put(St,k,T,t,r,sigma)
    r_c = f.rho_call(St,k,T,t,r,sigma)
    r_p = f.rho_put(St,k,T,t,r,sigma)
    g   = f.gamma(St,k,T,t,r,sigma)
    van = f.vanna(St,k,T,t,r,sigma)
    vol = f.volga(St,k,T,t,r,sigma)
    col = f.color(St,k,T,t,r,sigma)
    
    
    return d_c,d_p,v,t_c,t_p,r_c,r_p,g,van,vol,col

In [14]:
#ITERACIÓN
import time 


contador = 0
while contador < 5:
    

    resultado=np.zeros(len(activo))
    datos=yf.download(activo, period='1d', interval='1m')
    price=datos.iloc[-1,3]
    st = price 

    r = .0852
    T = 1
    t = 0
    ret_log = np.log(datos.iloc[:,3]/datos.iloc[:,3].shift(1)).dropna()
    cambio_porcentual_anual = ret_log.iloc[-1]*(252)
    sigma = np.std(ret_log)*np.sqrt(252)
    St = st 
    k = [St,St*(1+sigma),St*(1+2*sigma),St*(1-sigma),St*(1-2*sigma)]

    d1= [(np.log(St/k[i])+(r +0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t)) for i in range(0,len(k))]
    d2= [(np.log(St/k[i])+(r -0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t)) for i in range(0,len(k))]

    precio_justo_call = [st*sta.norm.cdf(d1[i],0,1)-k[i]*np.exp(-r*(T-t))*sta.norm.cdf(d2[i],0,1) for i in range(0,len(d1))]
    precio_justo_put = [k[i]*np.exp(-r*(T-t))*sta.norm.cdf(-d2[i],0,1)-st*sta.norm.cdf(-d1[i],0,1) for i in range(0,len(d1))]


    k = np.round(k,3)
    precio_justo_call = precio_justo_call
    precio_justo_put = precio_justo_put


    a = [griegas(r/12,sigma,st,k[i],T=1/12,t=0) for i in range(0,len(k))]
    a = a


    k1 = [0,k[0],precio_justo_call[0],precio_justo_put[0],a[0][0],a[0][1],a[0][2],a[0][3],a[0][4],
         a[0][5],a[0][6],a[0][7],a[0][8],a[0][9],a[0][10]]

    k2 = [0,k[1],precio_justo_call[1],precio_justo_put[1],a[1][0],a[1][1],a[1][2],a[1][3],a[1][4],
         a[1][5],a[1][6],a[1][7],a[1][8],a[1][9],a[1][10]]

    k3 = [0,k[2],precio_justo_call[2],precio_justo_put[2],a[2][0],a[2][1],a[2][2],a[2][3],a[2][4],
         a[2][5],a[2][6],a[2][7],a[2][8],a[2][9],a[2][10]]

    k4 = [0,k[3],precio_justo_call[3],precio_justo_put[3],a[3][0],a[3][1],a[3][2],a[3][3],a[3][4],
         a[3][5],a[3][6],a[3][7],a[3][8],a[3][9],a[3][10]]


    k5 = [0,k[4],precio_justo_call[4],precio_justo_put[4],a[4][0],a[4][1],a[4][2],a[4][3],a[4][4],
         a[4][5],a[4][6],a[4][7],a[4][8],a[4][9],a[4][10]]


    ws  = Tk()
    ws.title('Griegas '+activo)

    #ws['bg'] = '#AC99F2'
    game_frame = Frame(ws)
    game_frame.pack()
    my_game = ttk.Treeview(game_frame)
    my_game['columns'] = ('p','k','call','put','Delta_Call','Delta_put','Vega','Theta_call'
                               ,'Theta_put','rho_call','rho_put','gamma',
                              'vanna','volga','color')

    my_game.column("p", width=0,  stretch=NO)
    my_game.column("k",anchor=CENTER, width=80)
    my_game.column("call",anchor=CENTER, width=80)
    my_game.column("put",anchor=CENTER, width=80)
    my_game.column("Delta_Call",anchor=CENTER, width=80)
    my_game.column("Delta_put",anchor=CENTER,width=80)
    my_game.column("Vega",anchor=CENTER,width=80)
    my_game.column("Theta_call",anchor=CENTER,width=80)
    my_game.column("Theta_put",anchor=CENTER,width=80)
    my_game.column("rho_call",anchor=CENTER,width=80)
    my_game.column("rho_put",anchor=CENTER,width=80)
    my_game.column("gamma",anchor=CENTER,width=80)
    my_game.column("vanna",anchor=CENTER,width=80)
    my_game.column("volga",anchor=CENTER,width=80)
    my_game.column("color",anchor=CENTER,width=80)

    my_game.heading("p",text=" ",anchor=CENTER)
    my_game.heading("k",text="k",anchor=CENTER)
    my_game.heading("call",text="call",anchor=CENTER)
    my_game.heading("put",text="put",anchor=CENTER)
    my_game.heading("Delta_Call",text="Delta_Call",anchor=CENTER)
    my_game.heading("Delta_put",text="Delta_put",anchor=CENTER)
    my_game.heading("Vega",text="Vega",anchor=CENTER)
    my_game.heading("Theta_call",text="Theta_call",anchor=CENTER)
    my_game.heading("Theta_put",text="Theta_put",anchor=CENTER)
    my_game.heading("rho_call",text="rho_call",anchor=CENTER)
    my_game.heading("rho_put",text="rho_put",anchor=CENTER)
    my_game.heading("gamma",text="gamma",anchor=CENTER)
    my_game.heading("vanna",text="vanna",anchor=CENTER)
    my_game.heading("volga",text="volga",anchor=CENTER)
    my_game.heading("color",text="color",anchor=CENTER)

    my_game.insert(parent='',index='end',text='', values=(k1))
    my_game.insert(parent='',index='end',text='', values=(k2))
    my_game.insert(parent='',index='end',text='', values=(k3))
    my_game.insert(parent='',index='end',text='', values=(k4))
    my_game.insert(parent='',index='end',text='', values=(k5))
    my_game.pack()
    
    # Se actualizara la tabla 
    def cerrar():
        ws.destroy()
    
    ws.after(90000,cerrar)
    contador = contador+1 
    ws.mainloop()

    
        
    #ws.destroy()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

# Backtest

In [15]:
k,precio_justo_call,precio_justo_put

(array([309.72 , 312.861, 316.003, 306.579, 303.437]),
 [25.295266010568923,
  22.41050590830889,
  19.525745806079613,
  28.18002611282901,
  31.064786215088986],
 [7.764620298909562e-18,
  2.581776441160905e-14,
  3.0792378412033986e-11,
  8.0715762176291e-22,
  2.795328587181254e-26])

In [16]:
Delta_1 = [a[i][0:2] for i in range (0,5)]

In [17]:
Gamma_1 = [a[i][7] for i in range (0,5)]

In [18]:
Delta_1[0][0]

0.5806459444516124

In [19]:
Delta_1 = [a[i][0:2] for i in range (0,5)]
Gamma_1 = [a[i][7] for i in range (0,5)]
Test = pd.DataFrame([st,k[0],precio_justo_call[0],precio_justo_put[0],Delta_1[0][0],Delta_1[0][1],Gamma_1[0]]).T
#Test.rename(columns = {0:'St', 1:'K',2:'Call',3:'Put',4:'Delta_call',5:'Delta_put',6:'Gamma'}, inplace = True)
Test

            0       1          2             3         4         5         6
0  309.720001  309.72  25.295266  7.764620e-18  0.580646 -0.419354  0.390763

In [20]:
lista = pd.DataFrame([st,k[0],precio_justo_call[0],precio_justo_put[0],Delta_1[0][0],Delta_1[0][1],Gamma_1[0]]).T

In [21]:
np.zeros(len(mausherramienta[activo])+1)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [22]:
def back_test(k, precio_justo_call, precio_justo_put):
    r = .0852
    T = 1/12#pendiente
    t = 0
    ret_log = np.log(mausherramienta[activo]/mausherramienta[activo].shift(1)).dropna()
    cambio_porcentual_anual = ret_log.iloc[-1]*(252)
    sigma = np.std(ret_log)*np.sqrt(252)
    CALIZ = np.zeros(7)
    CALIZ = pd.DataFrame(CALIZ)
    
    for i in range (1,len(mausherramienta[activo])+1):
        st = mausherramienta[activo][-i]
        k_ = k
        call = precio_justo_call
        put = precio_justo_put
        Delta_call = f.delta_call(st,k_,T,t,r,sigma)
        Delta_put =  f.delta_put(st,k_,T,t,r,sigma)
        gamma = f.gamma(st,k_,T,t,r,sigma)
        lista = pd.DataFrame([st,k_,call,put,Delta_call,Delta_put,gamma])
        CALIZ[i] = lista


    CALIZ.drop(0, axis=1, inplace=True)
    CALIZ = CALIZ.T
    CALIZ.rename(columns = {0:'St', 1:'K',2:'Call',3:'Put',4:'Delta_call',5:'Delta_put',6:'Gamma'}, inplace = True)
    
    return CALIZ

In [23]:
K_1 = back_test(k[0], precio_justo_call[0], precio_justo_put[0])
K_2 = back_test(k[1], precio_justo_call[1], precio_justo_put[1])
K_3 = back_test(k[2], precio_justo_call[2], precio_justo_put[2])
K_4 = back_test(k[3], precio_justo_call[3], precio_justo_put[3])
K_5 = back_test(k[4], precio_justo_call[4], precio_justo_put[4])

In [24]:
K_1

,St,K,Call,Put,Delta_call,Delta_put,Gamma
1,309.720001,309.72,25.295266,7.764620e-18,0.552915,-0.447085,0.395428
2,324.369995,309.72,25.295266,7.764620e-18,0.775915,-0.224085,0.299220
3,326.369995,309.72,25.295266,7.764620e-18,0.800009,-0.199991,0.279954
4,318.149994,309.72,25.295266,7.764620e-18,0.690210,-0.309790,0.352689
5,317.540009,309.72,25.295266,7.764620e-18,0.680992,-0.319008,0.357146
6,318.519989,309.72,25.295266,7.764620e-18,0.695736,-0.304264,0.349903
7,319.250000,309.72,25.295266,7.764620e-18,0.706489,-0.293511,0.344229
8,314.000000,309.72,25.295266,7.764620e-18,0.625046,-0.374954,0.379181
9,317.149994,309.72,25.295266,7.764620e-18,0.675029,-0.324971,0.359901
10,317.820007,309.72,25.295266,7.764620e-18,0.685240,-0.314760,0.355122
11,318.049988,309.72,25.295266,7.764620e-18,0.688708,-0.311292,0.353432
12,315.049988,309.72,25.295266,7.764620e-18,0.642048,-0.357952,0.373378
13,321.769989,309.72,25.295266,7.764620e-18,0.742011,-0.257989,0.323065
14,321.440002,309.72,25.295266,7.764620e-18,0.737505,-0.262495,0.325961
15,322.730011,309.72,25.295266,7.764620e-18,0.754863,-0.245137,0.314459
16,319.429993,309.72,25.295266,7.764620e-18,0.709109,-0.290891,0.342796
17,325.619995,309.72,25.295266,7.764620e-18,0.791179,-0.208821,0.287248
18,326.339996,309.72,25.295266,7.764620e-18,0.799660,-0.200340,0.280247
19,322.640015,309.72,25.295266,7.764620e-18,0.753675,-0.246325,0.315277
20,318.739990,309.72,25.295266,7.764620e-18,0.698997,-0.301003,0.348217
21,318.040009,309.72,25.295266,7.764620e-18,0.688558,-0.311442,0.353506
22,307.299988,309.72,25.295266,7.764620e-18,0.510720,-0.489280,0.398798
23,312.130005,309.72,25.295266,7.764620e-18,0.594031,-0.405969,0.387809
24,310.700012,309.72,25.295266,7.764620e-18,0.569768,-0.430232,0.392826

Coberturas 
opcciones call o put

Segunda tabla CALL

In [25]:
def segunda_tabla_call(K_1):
    
    dif_delta1CALL = [K_1["Delta_call"][i+1]-K_1["Delta_call"][i] for i in range(1,len(K_1))]
    
    factor = [1.2 if K_1["Gamma"][i]>=0.8 else 0.8 if K_1["Gamma"][i]<=0.4 else 1 for i in range(1, len(K_1))]
    
    Activo_acum = [K_1["Delta_call"].iloc[0]*factor[0]]

    for i in range(len(dif_delta1CALL)):
        Activo_acum.append(Activo_acum[i]+dif_delta1CALL[i]*factor[i])
    
    costo=K_1["St"]*Activo_acum
    
    costo_acum = [costo.iloc[0]]

    for i in range(len(dif_delta1CALL)):
        costo_acum.append(costo_acum[i]+costo[i+1])
    
    costo_total=costo_acum[-1]
    
    primas=K_1["Call"]
    primas=-primas.iloc[-1]
    
    total=costo_total+primas
    
    no_cubrir=K_1["St"].iloc[-1]
    
    beneficio=no_cubrir-total
    
    f=np.zeros(len(dif_delta1CALL)+1)
    
    for i in range(len(dif_delta1CALL)):
        f[i+1]=dif_delta1CALL[i]
    
    lista = pd.DataFrame([f,Activo_acum,costo,costo_acum])
    
    lista = lista.T
    lista.rename(columns = {0:'Diff', 1:'Activo_acum',2:'Costo',3:'Costo_acum'}, inplace = True)
    
    
    return lista, costo_total,primas,total,no_cubrir,beneficio

In [26]:
st_k1_call=segunda_tabla_call(K_1)
st_k2_call=segunda_tabla_call(K_2)
st_k3_call=segunda_tabla_call(K_3)
st_k4_call=segunda_tabla_call(K_4)
st_k5_call=segunda_tabla_call(K_5)

In [32]:
st_k1_call[0]

        Diff  Activo_acum       Costo   Costo_acum
0   0.000000     0.442332  136.999165   136.999165
1   0.222999     0.620732  201.346748   273.998330
2   0.024094     0.640007  208.879129   475.345077
3  -0.109799     0.552168  175.672307   684.224206
4  -0.009218     0.544794  172.993806   859.896514
5   0.014744     0.556589  177.284626  1032.890320
6   0.010753     0.565191  180.437214  1210.174945
7  -0.081443     0.500037  157.011503  1390.612160
8   0.049983     0.540023  171.268396  1547.623662
9   0.010211     0.548192  174.226400  1718.892058
10  0.003468     0.550967  175.234890  1893.118458
11 -0.046661     0.513638  161.821674  2068.353347
12  0.099963     0.593609  191.005498  2230.175021
13 -0.004506     0.590004  189.650865  2421.180519
14  0.017358     0.603891  194.893612  2610.831383
15 -0.045754     0.567287  181.208523  2805.724995
16  0.082070     0.632943  206.098947  2986.933518
17  0.008482     0.639728  208.768963  3193.032465
18 -0.045986     0.602940  194.532522  3401.801429
19 -0.054677     0.559198  178.238758  3596.333951
20 -0.010439     0.550846  175.191204  3774.572709
21 -0.177838     0.408576  125.555510  3949.763913
22  0.083310     0.475224  148.331808  4075.319423
23 -0.024263     0.455814  141.621533  4223.651231

Segunda tabla PUT

In [28]:
def segunda_tabla_put(K_1):
    
    dif_delta1CALL = [K_1["Delta_put"][i+1]-K_1["Delta_put"][i] for i in range(1,len(K_1))]
    
    factor = [1.2 if K_1["Gamma"][i]>=0.8 else 0.8 if K_1["Gamma"][i]<=0.4 else 1 for i in range(1, len(K_1))]
    
    Activo_acum = [K_1["Delta_put"].iloc[0]*factor[0]]

    for i in range(len(dif_delta1CALL)):
        Activo_acum.append(Activo_acum[i]+dif_delta1CALL[i]*factor[i])
    
    costo=K_1["St"]*Activo_acum
    
    costo_acum = [costo.iloc[0]]

    for i in range(len(dif_delta1CALL)):
        costo_acum.append(costo_acum[i]+costo[i+1])
    
    costo_total=costo_acum[-1]
    
    primas=K_1["Put"]
    primas=primas.iloc[-1]#consultar signo
    
    total=costo_total+primas
    
    no_cubrir=K_1["St"].iloc[-1]
    
    beneficio=no_cubrir-total
    
    f=np.zeros(len(dif_delta1CALL)+1)
    
    for i in range(len(dif_delta1CALL)):
        f[i+1]=dif_delta1CALL[i]
    
    lista = pd.DataFrame([f,Activo_acum,costo,costo_acum])
    
    lista = lista.T
    lista.rename(columns = {0:'Diff', 1:'Activo_acum',2:'Costo',3:'Costo_acum'}, inplace = True)
    
    
    return lista, costo_total,primas,total,no_cubrir,beneficio

In [29]:
st_k1_put=segunda_tabla_put(K_1)
st_k2_put=segunda_tabla_put(K_2)
st_k3_put=segunda_tabla_put(K_3)
st_k4_put=segunda_tabla_put(K_4)
st_k5_put=segunda_tabla_put(K_5)

In [30]:
st_k1_put[0]

        Diff  Activo_acum       Costo   Costo_acum
0   0.000000    -0.357668 -110.776836  -110.776836
1   0.222999    -0.179268  -58.149248  -221.553672
2   0.024094    -0.159993  -52.216867  -279.702921
3  -0.109799    -0.247832  -78.847688  -331.919788
4  -0.009218    -0.255206  -81.038201  -410.767476
5   0.014744    -0.243411  -77.531366  -491.805676
6   0.010753    -0.234809  -74.962786  -569.337042
7  -0.081443    -0.299963  -94.188497  -644.299828
8   0.049983    -0.259977  -82.451600  -738.488325
9   0.010211    -0.251808  -80.029606  -820.939925
10  0.003468    -0.249033  -79.205101  -900.969531
11 -0.046661    -0.286362  -90.218317  -980.174631
12  0.099963    -0.206391  -66.410493 -1070.392948
13 -0.004506    -0.209996  -67.501137 -1136.803441
14  0.017358    -0.196109  -63.290397 -1204.304579
15 -0.045754    -0.232713  -74.335471 -1267.594975
16  0.082070    -0.167057  -54.397049 -1341.930446
17  0.008482    -0.160272  -52.303034 -1396.327496
18 -0.045986    -0.197060  -63.579490 -1448.630529
19 -0.054677    -0.240802  -76.753234 -1512.210019
20 -0.010439    -0.249154  -79.240803 -1588.963253
21 -0.177838    -0.391424 -120.284480 -1668.204056
22  0.083310    -0.324776 -101.372196 -1788.488536
23 -0.024263    -0.344186 -106.938477 -1889.860732