In [1]:
from tkinter import *
from tkinter import ttk
import numpy as np
import pandas as pd
from scipy.stats import norm
from yahoofinancials import YahooFinancials
import plotly.express as px
import scipy.optimize as opt
import pandas_datareader.data as web
import datetime as date
import mplfinance as mpf
import yfinance as yf
from scipy.stats import norm
import matplotlib.pyplot as plt
import data as dt
import Funciones as f
from scipy.stats import norm
import scipy.stats as sta

Techology

100%|██████████████████████████████████████████████████████████████████████████████████| 39/39 [00:11<00:00,  3.30it/s]

In [2]:
tickerr = dt.Tickets[:7]

In [3]:
#tickerr = ["AAPL", "FB", "SHOP", "C", "AMZN", "MSFT", "EPD", "KO", "TSLA","WMT"]
prices = web.DataReader(name = tickerr, data_source = "yahoo",
              start= "2022-01-01")["Adj Close"].dropna()

In [4]:
resultado=np.zeros(len(tickerr))
for i in range(len(tickerr)):
    datos=yf.download(tickerr[i], period='1d', interval='1m')
    price=datos.iloc[-1,3]
    resultado[i]=price

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [5]:
resultado

array([167.66000366, 282.05999756, 215.03999329,  97.44000244,
       585.07000732, 594.        , 326.73001099])

In [6]:
prices.iloc[-1,:] = resultado
prices

Symbols,AAPL,MSFT,NVDA,TSM,AVGO,ASML,ACN
Date,,,,,,,
2022-01-03,181.778397,334.059265,301.158691,128.181808,658.864624,797.489990,406.156982
2022-01-04,179.471344,328.331116,292.850098,132.759720,666.413574,779.190002,403.254517
2022-01-05,174.697418,315.727173,275.992981,126.450150,638.681091,745.669983,396.152924
2022-01-06,171.781143,313.232330,281.731995,127.853386,632.751221,763.119995,377.022522
2022-01-07,171.950928,313.391998,272.423584,122.907242,614.991333,756.099976,369.791290
...,...,...,...,...,...,...,...
2022-04-06,171.830002,299.500000,244.070007,101.180000,602.000000,628.510010,340.260010
2022-04-07,172.139999,301.369995,242.080002,100.519997,603.049988,625.299988,341.769989
2022-04-08,170.089996,296.970001,231.190002,99.290001,587.000000,610.929993,338.920013
2022-04-11,165.750000,285.260010,219.169998,97.570000,580.609985,597.739990,327.269989
2022-04-12,167.660004,282.059998,215.039993,97.440002,585.070007,594.000000,326.730011

In [7]:
#Analisis RSI 
# data = yf.download(tickers, period='1d', interval='1m')
data = prices

RSII = pd.DataFrame()
for i in range(len(tickerr)):
    
    delta = data.iloc[:,i].diff(1)
    delta.dropna(inplace=True)

    positive = delta.copy()
    negative = delta.copy()

    positive[positive < 0 ]=0
    negative[negative > 0 ]=0
    days = 14
    avrg_gain = positive.rolling(window=days).mean()
    avrg_loss = abs(negative.rolling(window=days).mean())

    rltv_strength = avrg_gain/avrg_loss
    RSI = 100-(100/(1+rltv_strength))

    combined = pd.DataFrame()
    combined["Close"] =  data.iloc[:,i]
    combined["RSI"] = RSI
    RSII[i] = RSI

    
RSII  = pd.DataFrame(RSII)
RSII.columns = tickerr
RSI_HOY = RSII.iloc[len(RSII)-1,:]

In [8]:
RSI_HOY=pd.DataFrame(RSI_HOY)
RSI_HOY

        2022-04-12
Ticker
AAPL     46.106867
MSFT     37.025472
NVDA     33.327950
TSM      32.721715
AVGO     44.287423
ASML     31.366214
ACN      56.030996

In [9]:
ws  = Tk()
ws.title('RSI Analysis')
ws.geometry('500x500')
#ws['bg'] = '#AC99F2'
game_frame = Frame(ws)
game_frame.pack()
my_game = ttk.Treeview(game_frame)
my_game['columns'] = ('TICKER','STATUS','PRICE')

my_game.column("#0", width=0,  stretch=NO)
my_game.column("TICKER",anchor=CENTER, width=80)
my_game.column("STATUS",anchor=CENTER,width=80)
my_game.column("PRICE",anchor=CENTER,width=80)

my_game.heading("#0",text="",anchor=CENTER)
my_game.heading("TICKER",text="TICKER",anchor=CENTER)
my_game.heading("STATUS",text="STATUS",anchor=CENTER)
my_game.heading("PRICE",text="PRICE",anchor=CENTER)

for i in range(len(tickerr)-1):
    if(RSI_HOY.iloc[i,0]<30):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'BUY',np.round((resultado[i]),4)))
    if(RSI_HOY.iloc[i,0]>70):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'SELL',np.round((resultado[i]),4)))
    if((RSI_HOY.iloc[i,0]>=30) & (RSI_HOY.iloc[i,0]<=70)):
        my_game.insert(parent='',index='end',text='', values=(tickerr[i],'HOLD',np.round((resultado[i]),4)))

my_game.pack()

import tkinter

Etiqueta = ttk.Label(ws,text='Select your stock')
Etiqueta.pack()

n = tkinter.StringVar(ws)
n.set(tickerr[0])

seleccion = tkinter.OptionMenu(ws,n,*tickerr)
seleccion.pack()

def Close():
    a = n.get()
    ws.destroy()

exit_button = tkinter.Button(ws, text="Choose", command= lambda :Close())
exit_button.pack(pady=20)

    
ws.mainloop()


activo = n.get()

In [10]:
resultado=np.zeros(len(activo))
datos=yf.download(activo, period='1d', interval='1m')
price=datos.iloc[-1,3]
st = price

[*********************100%***********************]  1 of 1 completed

In [11]:
def griegas(r,sigma,st,k,T=1,t=0):
    d_c = f.delta_call(St,k,T,t,r,sigma)
    d_p = f.delta_put(St,k,T,t,r,sigma)
    v   = f.vega(St,k,T,t,r,sigma)
    t_c = f.theta_call(St,k,T,t,r,sigma)
    t_p = f.theta_put(St,k,T,t,r,sigma)
    r_c = f.rho_call(St,k,T,t,r,sigma)
    r_p = f.rho_put(St,k,T,t,r,sigma)
    g   = f.gamma(St,k,T,t,r,sigma)
    van = f.vanna(St,k,T,t,r,sigma)
    vol = f.volga(St,k,T,t,r,sigma)
    col = f.color(St,k,T,t,r,sigma)
    
    
    return d_c,d_p,v,t_c,t_p,r_c,r_p,g,van,vol,col

In [12]:
r = .05
T = 1
t = 0
sigma = .2
St = st 
k = [St,St*0.8,St*0.5,St*1.5,St*1.8]

In [13]:
d1= [(np.log(St/k[i])+(r +0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t)) for i in range(0,len(k))]
d2= [(np.log(St/k[i])+(r -0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t)) for i in range(0,len(k))]

In [14]:
#d1= (np.log(St/k)+(r +0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t))
#d2= (np.log(St/k)+(r -0.5*sigma**2)*(T-t))/(sigma*np.sqrt(T-t))

precio_justo_call = [st*sta.norm.cdf(d1[i],0,1)-k[i]*np.exp(-r*(T-t))*sta.norm.cdf(d2[i],0,1) for i in range(0,len(d1))]
precio_justo_put = [k[i]*np.exp(-r*(T-t))*sta.norm.cdf(-d2[i],0,1)-st*sta.norm.cdf(-d1[i],0,1) for i in range(0,len(d1))]
precio_justo_call,precio_justo_put

([17.521448799838126,
  41.22564240575932,
  87.91899814600207,
  0.60295537969803,
  0.04802261696652366],
 [9.344573933024655,
  1.152141779886671,
  0.0005588815406307474,
  72.16764491053252,
  119.45765078638982])

In [26]:
k = np.round(k,3)
precio_justo_call = np.round(precio_justo_call,3)
precio_justo_put = np.round(precio_justo_put,3)

In [27]:
a = [griegas(r,sigma,st,k[i],T=1,t=0) for i in range(0,len(k))]
a = np.round(a,3)

In [28]:
k1 = [0,k[0],precio_justo_call[0],precio_justo_put[0],a[0][0],a[0][1],a[0][2],a[0][3],a[0][4],
     a[0][5],a[0][6],a[0][7],a[0][8],a[0][9],a[0][10]]

k2 = [0,k[1],precio_justo_call[1],precio_justo_put[1],a[1][0],a[1][1],a[1][2],a[1][3],a[1][4],
     a[1][5],a[1][6],a[1][7],a[1][8],a[1][9],a[1][10]]

k3 = [0,k[2],precio_justo_call[2],precio_justo_put[2],a[2][0],a[2][1],a[2][2],a[2][3],a[2][4],
     a[2][5],a[2][6],a[2][7],a[2][8],a[2][9],a[2][10]]

k4 = [0,k[3],precio_justo_call[3],precio_justo_put[3],a[3][0],a[3][1],a[3][2],a[3][3],a[3][4],
     a[3][5],a[3][6],a[3][7],a[3][8],a[3][9],a[3][10]]


k5 = [0,k[4],precio_justo_call[4],precio_justo_put[4],a[4][0],a[4][1],a[4][2],a[4][3],a[4][4],
     a[4][5],a[4][6],a[4][7],a[4][8],a[4][9],a[4][10]]

In [30]:
ws  = Tk()
ws.title('Griegas')

#ws['bg'] = '#AC99F2'
game_frame = Frame(ws)
game_frame.pack()
my_game = ttk.Treeview(game_frame)
my_game['columns'] = ('p','k','call','put','Delta_Call','Delta_put','Vega','Theta_call'
                           ,'Theta_put','rho_call','rho_put','gamma',
                          'vanna','volga','color')

my_game.column("p", width=0,  stretch=NO)
my_game.column("k",anchor=CENTER, width=80)
my_game.column("call",anchor=CENTER, width=80)
my_game.column("put",anchor=CENTER, width=80)
my_game.column("Delta_Call",anchor=CENTER, width=80)
my_game.column("Delta_put",anchor=CENTER,width=80)
my_game.column("Vega",anchor=CENTER,width=80)
my_game.column("Theta_call",anchor=CENTER,width=80)
my_game.column("Theta_put",anchor=CENTER,width=80)
my_game.column("rho_call",anchor=CENTER,width=80)
my_game.column("rho_put",anchor=CENTER,width=80)
my_game.column("gamma",anchor=CENTER,width=80)
my_game.column("vanna",anchor=CENTER,width=80)
my_game.column("volga",anchor=CENTER,width=80)
my_game.column("color",anchor=CENTER,width=80)

my_game.heading("p",text=" ",anchor=CENTER)
my_game.heading("k",text="k",anchor=CENTER)
my_game.heading("call",text="call",anchor=CENTER)
my_game.heading("put",text="put",anchor=CENTER)
my_game.heading("Delta_Call",text="Delta_Call",anchor=CENTER)
my_game.heading("Delta_put",text="Delta_put",anchor=CENTER)
my_game.heading("Vega",text="Vega",anchor=CENTER)
my_game.heading("Theta_call",text="Theta_call",anchor=CENTER)
my_game.heading("Theta_put",text="Theta_put",anchor=CENTER)
my_game.heading("rho_call",text="rho_call",anchor=CENTER)
my_game.heading("rho_put",text="rho_put",anchor=CENTER)
my_game.heading("gamma",text="gamma",anchor=CENTER)
my_game.heading("vanna",text="vanna",anchor=CENTER)
my_game.heading("volga",text="volga",anchor=CENTER)
my_game.heading("color",text="color",anchor=CENTER)

my_game.insert(parent='',index='end',text='', values=(k1))
my_game.insert(parent='',index='end',text='', values=(k2))
my_game.insert(parent='',index='end',text='', values=(k3))
my_game.insert(parent='',index='end',text='', values=(k4))
my_game.insert(parent='',index='end',text='', values=(k5))


my_game.pack()
ws.mainloop()

In [ ]:
DF = pd.DataFrame(data=a,columns={'Delta_Call','Delta_put','Vega','Theta_call'
                           ,'Theta_put','rho_call','rho_put','gamma',
                          'vanna','volga','color'})
DF